<div class="panel panel-default">

<div class="panel-heading">
	Nouvelle référence
</div>

<div class="panel-body"  id="panel-body">
<%= render 'form' %>
</div>
<%= link_to 'Retour', oeuvres_path %>
</div>