/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";


/* All*/

a {
	color: black;
}

a:hover {
	color: black;
	text-decoration: underline;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.panel {
	margin-top: 90px;
}

.panel-heading {
	text-align: center;
}

/* Header */

#header {
	height: 90px;
	background-color: white;
	border-bottom: 1px solid black;
	display: -webkit-inline-box;
	width: 100%;
}

#firstscreen {
	width: 100%;
	height: 300px;
	border-bottom: 1px solid black;
}

#websitename {
	margin-left: 150px;
	margin-top: 20px;
}

#websitename a {
	font-size: 30px;
	font-family: Arial;
	color: black;
	cursor: pointer;
}

#search {
	font-size: 30px;
	font-family: Arial;
	color: black;
	margin-top: 20px;
	cursor: pointer;
}

#rank {
	font-size: 30px;
	font-family: Arial;
	color: black;
	margin-top: 20px;
	cursor: pointer;	
}

#create {
	margin-top: 20px;
}

#create a {
	font-size: 30px;
	font-family: Arial;
	color: black;
	cursor: pointer;
}

/* Index */

#index {
	margin-top: 50px;
}

#short_description {
	height: 118px;
	white-space: normal;
	overflow: hidden;	
	text-overflow: ellipsis;
}

/* New form */

#panel-body {
	margin-left: 300px;
}

/* show */

#show {
	text-align: center;
	margin-top: 200px;
}

#show-col-1 {
	border-right: 1px solid grey;
}